* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}

h1 {
    font-size: 3rem;
    font-weight: 600;
    /* margin: 0.5rem 0; */
}

h2 {
    font-size: 2rem;
    font-weight: 300;
}

h3 {
    font-size: 1.5rem;
    font-weight: 400;
    color: #503AB5;
}

h5 {
    font-size: 2.5rem;
    color: #FFFFFF;
}

p {
    font-weight: 300;
    font-size: 1.2rem;
}

nav {
    display: flex;
    align-items: center;
}

/* Estilos del menú */
header {
    width: 100%;
    background-color: #FFFFFF;
    height: 60px;
    padding: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Centra verticalmente el contenido del header */
}

header img {
    /* Logotipo */
    width: 100px;
    /* Ajusta el valor según tus necesidades */
    height: auto;
    /* Mantiene la proporción original */
    margin-left: 25px;
    object-fit: contain;
}

header nav ul {
    display: flex;
    gap: 2rem;
    align-items: center;
}

ul {
    list-style: none;
    /* Elimina los estilos de viñetas predeterminados */
    padding: 0;
    margin: 0;
}

li {
    display: inline-block;
    /* Hace que los elementos de la lista sean en línea y no en bloque */
}

a {
    text-decoration: none;
    /* Elimina el subrayado predeterminado de los enlaces */
    color: #302E29;
    /* Color del texto del enlace */
    font-weight: 400;
    /* Peso de la fuente */
}

a:hover {
    color: #ff6600;
    /* Cambia el color del texto del enlace al pasar el ratón sobre él */
}

.check-btn {
    font-size: 2rem;
    color: #ff6600;
    margin: 1rem;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

.btn {
    width: 30px;
    /* Ajusta el ancho del botón */
    height: 30px;
    color: #FFFFFF;
    background-color: #ff6600;
    /* Color de fondo del botón */
    border-radius: 50%;
    /* Hace que el botón tenga forma de círculo */
    display: flex;
    justify-content: center;
    /* Centra horizontalmente */
    align-items: center;
    /* Centra verticalmente */
}

.btn i {
    font-size: 1rem;
    /* Ajusta el tamaño del ícono */
}

form.form-search {
    display: flex;
    gap: 5px;
    align-items: center;
    margin: 0;
    margin-right: 25px;
    justify-content: flex-end;
    width: auto;
}

form input[type="search"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 20px;
    /* Redondea el borde */
    outline: none;
    /* Elimina el contorno al enfocar */
    font-size: 1rem;
}

form input[type="search"]:focus {
    border-color: #FFA400;
    /* Cambia el color del borde al enfocar */
}

/* Estilos del contenido */
.padding {
    display: flex;
    flex-wrap: wrap;
    /* Permite que los elementos se envuelvan si no caben en una sola fila */
    padding: 50px;
}

.padding-grey {
    display: flex;
    /* flex-wrap: wrap;
    Permite que los elementos se envuelvan si no caben en una sola fila */
    background-color: rgb(209, 212, 216, 0.3);
    margin: 0;
    padding: 0;
    position: relative;
    /* Posiciona la imagen para superponer el texto */
    overflow: hidden;
    /* Evita que el contenido sobresalga del área del padding */
    box-sizing: border-box;
    align-items: center;
}

.text {
    flex: 1;
    /* Hace que el contenedor de texto ocupe todo el espacio disponible */
    padding: 100px;
    /* Ajusta el espaciado entre el texto y la imagen */
    max-width: 50%;
    /* Limita el ancho máximo del contenedor de texto para evitar que sea demasiado ancho */
    position: absolute;
    /* Posiciona el texto encima de la imagen */
    display: flex;
    /* Activa el modelo de caja flexible */
    justify-content: center;
    /* Centra horizontalmente */
    flex-direction: column;
    box-sizing: content-box;
}

.text p strong {
    font-weight: 400;
    /* Aplica negrita al texto dentro del párrafo */
}

.image {
    flex: 1;
    /* Hace que el contenedor de imagen ocupe todo el espacio disponible */
    max-width: 60%;
    /* Limita el ancho máximo del contenedor de imagen para evitar que sea demasiado ancho */
    margin-left: auto;
    /* Alinea la imagen a la derecha */
}

.image img {
    width: 100%;
    /* Asegura que la imagen ocupe todo el espacio disponible en su contenedor */
    height: auto;
    /* Mantiene la proporción de la imagen */
    display: block;
    /* Elimina el espacio adicional debajo de la imagen */
}

p {
    /* padding-right: 50%; */
    margin-top: 1rem;
}

/* Carrusel de imágenes */
.btn-banner .fa {
    margin-right: 5px;
    /* Ajusta el espacio según tus necesidades */
    font-size: 1rem;
}

.btn-banner {
    padding: .75rem 1rem;
    border-radius: 10px;
    background-color: #FFA400;
    border: none;
    color: #FFFFFF;
}

.p-banner {
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: 300;
    padding: 0;
    margin-top: 0;
}

.text-banner {
    z-index: 1;
    margin-bottom: 1rem;
}

.banner {
    background-size: cover;
    object-fit: cover;
    height: 60%;
    max-width: 100%;
    position: relative;
    overflow: hidden;
    /* Evita que la imagen sobresalga del contenedor si es más grande */
    display: flex;
    /* Usamos flexbox para centrar verticalmente */
    align-items: center;
    /* Centra verticalmente los elementos */
}

.carousel {
    position: static !important;
    /* Cambia la posición a estática, anulando la posición relativa de Bootstrap */
}

/* Flechas de navegación */
.carousel-control-prev,
.carousel-control-next {
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    padding: 5px;
    border-radius: 50%;
    /* Hace que las flechas sean redondas */
    opacity: initial;
    z-index: 2;
    /* Asegura que estén sobre el contenido del carrusel */
}

/* Otras secciones banner */
.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Mantiene la proporción de la imagen y cubre todo el contenedor */
}

.banner::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(48, 46, 41, 0.35);
    /* Color de fondo con transparencia */
    z-index: 1;
    /* Ajusta el z-index para que esté detrás del contenido */
}

.custom-div {
    /* texto */
    display: flex;
    position: absolute;
    bottom: 0;
    /* Coloca el elemento en la parte inferior del contenedor principal */
    left: 25px;
    /* Coloca el elemento a la izquierda del contenedor principal */
    z-index: 1;
}

/* Frase
.quote {
    background-color: #FFC564;
    text-align: center;
    /* Centra el contenido horizontalmente 
    overflow: hidden;
} */

.quote img {
    max-width: 100%;
    /* Hace que la imagen no sea más grande que su tamaño original */
    display: block;
    /* Elimina el espacio adicional debajo de la imagen */
    padding: 30px;
    margin: 0 auto;
    /* Centra la imagen horizontalmente */
}

/* Ubicación y horarios */
.ubication {
    display: flex;
    background-color: #FFFFFF;
    border-radius: 15px;
    align-items: center;
}

.text-ubication {
    flex: 1;
    max-width: 65%;
    display: flex;
    flex-direction: column;
    padding: 50px;
    /* Ajusta el padding según sea necesario */
}

.days {
    font-size: 6rem;
    font-weight: 400;
    color: #FFC564;
}

.text-ubication p strong {
    font-weight: 400;
    /* Aplica negrita al texto dentro del párrafo */
}

/* Nosotros */
.padding-green {
    display: flex;
    /* flex-wrap: wrap;
    Permite que los elementos se envuelvan si no caben en una sola fila */
    background-color: rgb(72, 181, 166, 0.2);
    margin: 0;
    padding: 0;
    position: relative;
    /* Posiciona la imagen para superponer el texto */
    overflow: hidden;
    /* Evita que el contenido sobresalga del área del padding */
    box-sizing: border-box;
    align-items: center;
}

/* Faq */
.accordion-button {
    font-size: 1.5rem;
    font-weight: 400;
    color: #503AB5;
}

.accordion-button:not(.collapsed) {
    background-color: #FFFFFF;
    color: #503AB5;
}

.accordion-body {
    font-weight: 300;
}

/* Facturación */
.padding-grey-invoicing {
    display: flex;
    flex-wrap: wrap;
    /* Permite que los elementos se envuelvan si no caben en una sola fila */
    background-color: rgb(209, 212, 216, 0.3);
    margin: 0;
    padding: 100px;
    position: relative;
    /* Posiciona la imagen para superponer el texto */
    overflow: hidden;
    /* Evita que el contenido sobresalga del área del padding */
    box-sizing: border-box;
    align-items: center;
}

.text-invoicing {
    flex: 1;
    /* Hace que el contenedor de texto ocupe todo el espacio disponible */
    padding: 0;
    /* Ajusta el espaciado entre el texto y la imagen */
    max-width: 50%;
    /* Limita el ancho máximo del contenedor de texto para evitar que sea demasiado ancho */
    position: absolute;
    display: flex;
    /* Activa el modelo de caja flexible */
    justify-content: center;
    /* Centra horizontalmente */
    flex-direction: column;
}

.form-invoicing {
    flex: 1;
    /* Hace que el contenedor de imagen ocupe todo el espacio disponible */
    max-width: 37%;
    /* Limita el ancho máximo del contenedor de imagen para evitar que sea demasiado ancho */
    margin-left: 63%;
    /* Alinea la imagen a la derecha */
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    padding: 20px;
    font-size: .9rem;
    display: flex;
    /* Activa el modelo de caja flexible */
    justify-content: center;
    /* Centra horizontalmente */
    align-items: center;
    /* Centra verticalmente */
}

form {
    /* Mantiene la proporción de la imagen */
    display: block;
    /* Elimina el espacio adicional debajo de la imagen */
    width: 28rem;
}

.form {
    border: none;
    font-size: 1rem;
    height: auto;
    margin: 5px 0 0 0;
    outline: solid 1px #FFA400;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    background-color: rgb(255, 197, 100, 0.3);
    color: #64696d;
    margin-bottom: 30px;
}

input[type="submit"] {
    outline: none;
    border: none;
    border-radius: 25px;
    /* Redondea las esquinas */
    padding: 10px 20px;
    /* Ajusta el relleno según tus necesidades */
    background-color: #FFA400;
    /* Color de fondo normal */
    color: white;
    /* Color de texto */
    cursor: pointer;
    /* Cambia el cursor al pasar sobre el botón */
    margin: 0;
}

input[type="submit"]:hover {
    background-color: #ff6600;
    /* Cambia el color de fondo al pasar sobre el botón */
}

input[type="submit"]:active {
    background-color: #ff6600;
    /* Cambia el color de fondo al hacer clic en el botón */
}

/* FAQ */
.accordion {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgba(209, 212, 216);
    gap: 1rem;
    padding-bottom: 25px;
}

/* Aviso de Privacidad */
.invoicing {
    background-color: rgba(209, 212, 216, 0.2);
    height: 400px;
}

footer {
    background-color: rgba(255, 103, 29, 0.8);
    text-align: center;
    /* Centra horizontalmente el contenido del footer */
}

footer .privacy {
    display: flex;
    /* Activa el modelo de caja flexible */
    justify-content: center;
    /* Centra horizontalmente */
    align-items: center;
    /* Centra verticalmente */
    background-color: #504D48;
    color: #FFFFFF;
    padding: 10px;
}

footer .footer-text {
    margin-top: 1%;
    color: #FFFFFF;
}

footer a {
    font-size: 1.2rem;
    color: #FFFFFF;
}

.privacy p {
    font-size: 1rem;
    margin: 2%;
}

footer img {
    height: 80px;
}

.social-media {
    height: 17px;
    padding: 0 .50rem;
    margin-bottom: 3px;
}

.div-social-media {
    padding: 4%;
}

.whatsapp-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    background-color: #25d366;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 2.5rem;
}




/* Estilos para pantallas medianas (tablets) */
@media only screen and (min-width: 601px) and (max-width: 1024px) {

    /* Aquí van los estilos específicos para pantallas con un ancho entre 601px y 1024px */
    header {
        width: 100%;
        height: 60px;
        /* Ajusta la altura del encabezado */
        position: fixed;
        z-index: 1000;
        /* Asegura que el encabezado esté por encima de todo */
    }

    header img {
        width: 100px;
        /* Ajusta el tamaño del logotipo para tablets */
        margin-left: 15px;
        /* Ajusta el margen izquierdo del logotipo */
    }

    header nav ul {
        display: block;
    }

    .check-btn {
        display: block;
    }

    ul {
        position: absolute;
        top: 60px;
        /* Se pegará al borde superior del viewport */
        width: 100%;
        height: calc(61vh - 60px);
        /* Altura de la pantalla menos la altura del encabezado */
        background: #FFA400;
        text-align: left;
        top: 60px;
        left: -100%;
        transition: all .55s;
        z-index: 999;
        /* Asegura que el menú esté por encima del contenido */
        overflow-y: visible;
        /* Permite que el contenido se ajuste automáticamente */
        padding-top: 20px;
        /* Añade un poco de espacio en la parte superior del menú */
        padding-bottom: 5px;
    }

    li {
        display: block;
        /* Hace que los elementos de la lista sean en bloque y no en línea */
        margin-bottom: 20px;
        /* Añade espacio entre elementos de lista */
        margin-left: 25px;
        font-size: 1.3rem;
    }

    a {
        text-decoration: none;
        /* Elimina el subrayado predeterminado de los enlaces */
        color: #FFFFFF;
        /* Color del texto del enlace */
        font-weight: 400;
        /* Peso de la fuente */
    }

    li a:hover,
    li a.active {
        background: none;
        color: #FFFFFF;
    }

    /* Asegura que el menú se muestre cuando se active el botón de hamburguesa */
    #check:checked~ul {
        left: 0;
        height: auto;
    }

    form.form-search {
        justify-content: left;
    }

    form input[type="search"] {
        padding: 5px;
        border: none;
        border-radius: 5px;
        /* Redondea el borde */
        outline: none;
        /* Elimina el contorno al enfocar */
        font-size: 1.1rem;
        width: 100%;
    }

    .btn {
        width: 40px;
        /* Ajusta el ancho del botón */
        height: 40px;
    }

    .btn i {
        font-size: 1.2rem;
        /* Ajusta el tamaño del ícono según tus necesidades */
    }

    /* Carrusel de imágenes */
    h5 {
        font-size: 1.85rem;
    }

    .btn-banner .fa {
        margin-right: 5px;
        /* Ajusta el espacio según tus necesidades */
        font-size: .70rem;
    }

    .btn-banner {
        font-size: .75rem;
        padding: .50rem .75rem;
        border-radius: 5px;
    }

    .p-banner {
        font-size: 1rem;
        font-weight: 300;
    }

    .text-center {
        transform: translate(-50%, -20%) !important;
    }

    .padding,
    .padding-grey,
    .padding-green {
        display: block;
        margin: 0;
        /* Posiciona la imagen para superponer el texto */
        overflow: hidden;
        /* Evita que el contenido sobresalga del área del padding */
        box-sizing: border-box;
        padding: 30px 50px;
    }

    .padding-grey-invoicing {
        display: block;
        padding: 100px 100px 50px 100px;
    }

    .text {
        position: relative;
        padding: 30px;
        /* Ajusta el relleno del texto */
        max-width: 100%;
        /* Limita el ancho máximo del contenedor de texto */
        align-items: center;
    }

    .image {
        max-width: 70%;
        /* Ancho máximo para tablet */
        margin: 0 auto;
        /* Centra la imagen en tablet */
        margin: 20px auto 0 auto;
    }

    .form-invoicing {
        max-width: 100%;
        /* Limita el ancho máximo del contenedor de formulario */
        margin: 0;
    }

    .text-invoicing {
        position: relative;
        max-width: 100%;
        display: flex;
        align-items: center;
        text-align: center;
        margin-bottom: 8%;
    }

    .custom-link {
        color: #302E29;
    }

    .text-ubication {
        padding: 30px;
        /* Ajusta el relleno del texto */
        max-width: 100%;
        /* Limita el ancho máximo del contenedor de texto */
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .days {
        font-size: 5.7rem;
    }

    .ubication {
        width: 100%;
    }

    form {
        display: block;
        width: 100%;
        /* Limita el ancho del formulario */
        margin: 20px;
    }
}




/* Estilos para pantallas más pequeñas (móviles) */
@media only screen and (max-width: 600px) {
    /* Aquí van los estilos específicos para pantallas con un ancho máximo de 600px */

    /* Estilos para el encabezado */
    header {
        width: 100%;
        height: 60px;
        /* Ajusta la altura del encabezado */
        position: fixed;
        z-index: 1000;
        /* Asegura que el encabezado esté por encima de todo */
    }

    header img {
        width: 100px;
        /* Ajusta el tamaño del logotipo para tablets */
        margin-left: 15px;
        /* Ajusta el margen izquierdo del logotipo */
    }

    header nav ul {
        display: block;
    }

    .check-btn {
        display: block;
    }

    /* Estilos para el menú desplegable */
    ul {
        position: absolute;
        top: 60px;
        /* Se pegará debajo del encabezado */
        width: 100%;
        height: calc(61vh - 60px);
        /* Altura de la pantalla menos la altura del encabezado */
        background: #FFA400;
        text-align: left;
        left: -100%;
        transition: all .55s;
        z-index: 999;
        /* Asegura que el menú esté por encima del contenido */
        overflow-y: visible;
        /* Permite que el contenido se ajuste automáticamente */
        padding-top: 20px;
        /* Añade un poco de espacio en la parte superior del menú */
        padding-bottom: 5px;
    }

    li {
        display: block;
        /* Hace que los elementos de la lista sean en bloque y no en línea */
        margin-bottom: 20px;
        /* Añade espacio entre elementos de lista */
        margin-left: 25px;
        font-size: 1.3rem;
    }

    a {
        text-decoration: none;
        /* Elimina el subrayado predeterminado de los enlaces */
        color: #FFFFFF;
        /* Color del texto del enlace */
        font-weight: 400;
        /* Peso de la fuente */
    }

    li a:hover,
    li a.active {
        background: none;
        color: #FFFFFF;
    }

    /* Asegura que el menú se muestre cuando se active el botón de hamburguesa */
    #check:checked~ul {
        left: 0;
        height: auto;
    }

    /* Estilos para el formulario de búsqueda */
    form.form-search {
        justify-content: left;
    }

    form input[type="search"] {
        padding: 5px;
        border: none;
        border-radius: 5px;
        /* Redondea el borde */
        outline: none;
        /* Elimina el contorno al enfocar */
        font-size: 1rem;
        width: 100%;
    }

    /* Estilos para el botón */
    .btn {
        width: 35px;
        /* Ajusta el ancho del botón */
        height: 35px;
    }

    .btn i {
        font-size: 1.2rem;
        /* Ajusta el tamaño del ícono según tus necesidades */
    }

    /* Carrusel de imágenes */
    h5 {
        font-size: 1rem;
    }

    .btn-banner .fa {
        margin-right: 5px;
        /* Ajusta el espacio según tus necesidades */
        font-size: .70rem;
    }

    .btn-banner {
        font-size: .75rem;
        padding: .50rem .75rem;
        border-radius: 50px;
    }

    .p-banner {
        font-size: 1rem;
        font-weight: 300;
    }

    .text-center {
        transform: translate(-50%, -20%) !important;
    }

    .banner {
        height: 15rem;
        width: auto;
        align-items: center;
        /* Centra verticalmente los elementos */
    }

    .banner img {
        width: auto;
    }

    .carousel-indicators {
        position: unset;
    }

    /* Flechas de navegación */
    .carousel-control-prev,
    .carousel-control-next {
        top: 60%;
        transform: translateY(-50%);
        width: 30px;
        height: 30px;
        padding: 5px;
    }

    .padding,
    .padding-grey,
    .padding-green {
        display: block;
        /* Ajusta el relleno general */
        margin: 0;
        /* Posiciona la imagen para superponer el texto */
        overflow: hidden;
        /* Evita que el contenido sobresalga del área del padding */
        box-sizing: border-box;
        padding: 30px 50px;
    }

    .padding-grey-invoicing {
        display: block;
        padding: 100px 30px 50px 30px;
    }

    .text {
        position: relative;
        padding: 10px;
        /* Ajusta el relleno del texto */
        max-width: 100%;
        /* Limita el ancho máximo del contenedor de texto */
        align-items: center;
    }

    .image {
        max-width: 100%;
        /* Ancho máximo para tablet */
        margin: 0 auto;
        /* Centra la imagen en tablet */
    }

    p {
        font-size: 1rem;
    }

    .form-invoicing {
        max-width: 100%;
        /* Limita el ancho máximo del contenedor de formulario */
        margin: 0;
    }

    .text-invoicing {
        position: relative;
        max-width: 100%;
        display: flex;
        align-items: center;
        margin-bottom: 9%;
    }

    .custom-link {
        color: #302E29;
    }

    .text-ubication {
        padding: 10px;
        /* Ajusta el relleno del texto */
        max-width: 100%;
        /* Limita el ancho máximo del contenedor de texto */
        align-items: center;
        text-align: center;
    }

    .days {
        font-size: 3.2rem;
    }

    .ubication {
        width: 100%;
    }

    form {
        display: block;
        width: 100%;
        /* Limita el ancho del formulario */
        margin: 20px;
    }

    footer .footer-text {
        margin-top: 1%;
        color: #FFFFFF;
    }

    footer a {
        /* link texto redes sociales */
        font-size: 1rem;
        color: #FFFFFF;
    }

    .privacy p {
        font-size: .8rem;
        margin: 2%;
    }

    footer img {
        height: 60px;
    }

    .social-media {
        height: 24px;
    }
}




/* Media query para pantallas entre 1236px y 1164px */
@media screen and (max-width: 1236px) and (min-width: 1164px) {
    .text {
        max-width: 50%;
        padding-right: 20px;
    }

    p {
        font-weight: 300;
        font-size: 1.1rem;
    }
}



/* Media query para pantallas entre 1164px y 1026px */
@media screen and (max-width: 1164px) and (min-width: 1026px) {
    p {
        font-weight: 300;
        font-size: 1rem;
    }

    /* Flechas de navegación */
    .carousel-control-prev,
    .carousel-control-next {
        width: 60px;
        height: 60px;
    }
}