* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

h1 {
  color: #302e29;
  font-size: 3rem;
  font-weight: 500;
}

h2 {
  font-size: 2rem;
  font-weight: 400;
}

h3 {
  font-size: 1.5rem;
  font-weight: 400;
  color: #503ab5;
}

p {
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.5;
  color: #333;
}

nav {
  display: flex;
  align-items: center;
}

/* ENCABEZADO */
header {
  width: 100%;
  height: 60px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  position: fixed;
  top: 0;
  z-index: 10000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra */
}

/* Logotipo */
header img {
  width: 100px;
  height: auto;
  margin-left: 25px;
}

/* Botón hamburguesa */
.check-btn {
  font-size: 2rem;
  color: #ff6600;
  cursor: pointer;
  display: block;
  z-index: 10001;
}

/* Oculta visualmente el checkbox */
#check {
  display: none;
}

/* Menú desplegable (Mobile y Tablet) */
nav ul {
  position: absolute;
  top: 60px; /* Debajo del header */
  left: -100%; /* Oculto inicialmente */
  width: 100%; /* Ocupa todo el ancho */
  background: #302e29; /* Fondo oscuro */
  padding: 20px 20px;
  z-index: 9999;
  transition: all 0.5s ease; /* Transición suave */
  list-style: none;
}

/* Elementos del menú */
ul li {
  margin: 10px 25px;
}

ul a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 400;
}

ul a:hover {
  color: #ff6600;
}

/* Muestra el menú al activar el checkbox */
#check:checked + label + ul {
  left: 0; /* Asegúrate de que afecta al menú directamente */
}

/* Barra de búsqueda */
form.form-search {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%; /* Ocupará el ancho completo */
  justify-content: flex-end;
}

form input[type="search"]:focus {
  border-color: #ffa400;
}

/* Contenedor del formulario de búsqueda */
form.form-search {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 100%;
  background: transparent;
}

/* Input de búsqueda */
form input[type="search"] {
  flex-grow: 1;
  width: 100%; /* Ocupará todo el ancho disponible */
  padding: 10px 20px;
  border: 2px solid #ffa100;
  border-radius: 30px;
  font-size: 1.1rem;
  outline: none;
  color: #000;
}

/* Ajustar botón de búsqueda para que esté dentro del input visualmente */
.btn-search {
  width: 39px;
  height: 39px;
  background-color: #ffa100;
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  margin-left: -52px; /* Ajusta el botón sobre el input */
  transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Asegurar que el botón no sea afectado por Bootstrap */
.btn-search:focus,
.btn-search:active {
  outline: none !important;
}

/* Efecto hover */
.btn-search:hover {
  background-color: #e08900;
  transform: scale(1.05);
}

/* Estilo del icono dentro del botón */
.btn-search i {
  font-size: 1.2rem;
  color: #ffffff;
}

/* Estilo botón cerrar */
.btn-clear {
  position: absolute;
  right: 65px; /* ajusta si tu lupa se mueve */
  background: transparent;
  border: none;
  font-size: 1.1rem;
  color: #999;
  cursor: pointer;
  z-index: 10;
}

.btn-clear:hover {
  color: #ff6600;
}


.cards-container .card {
  animation: aparecer 0.3s ease-in-out;
}

@keyframes aparecer {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

/* Carrusel de imágenes */
.btn-banner .fa {
  margin-right: 5px;
  font-size: 1rem;
}

.banner {
  background-size: cover;
  object-fit: cover;
  max-width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  height: 250px;
}

.carousel {
  position: static !important;
}

.carousel-indicators {
  margin-bottom: 2.5rem;
}

.carousel-control-prev,
.carousel-control-next {
  top: 55%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  padding: 5px;
  border-radius: 50%;
  opacity: initial;
  z-index: 2;
  background: rgba(255, 255, 255, 0.30);
  margin-left: 15px;
  margin-right: 15px;
  transition: background 0.3s ease, filter 0.3s ease; /* Transición suave para el cambio */
}

/* Cambios en hover */
.carousel-control-prev:hover,
.carousel-control-next:hover {
  background: #ffffff; /* Fondo 100% blanco */
}

/* Oscurecer el ícono en hover */
.carousel-control-prev:hover .carousel-control-prev-icon,
.carousel-control-next:hover .carousel-control-next-icon {
  filter: brightness(0.1); /* Ajusta el valor según el nivel de oscuridad deseado */
  transition: filter 0.3s ease; /* Transición suave para el cambio */
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.custom-div {
  display: flex;
  position: absolute;
  bottom: 0;
  z-index: 1;
}

.custom-flex-spacing {
  margin: 10px 40px;
  padding-right: 40px;
}

.ubication {
  display: flex;
  align-items: center;
  flex-direction: column; /* Para que los elementos se apilen en mobile */
  padding: 20px; /* Ajuste de padding en mobile */
}

.ubication iframe {
  width: 100%; /* Para que el iframe sea responsivo en pantallas pequeñas */
  max-width: 600px; /* Máximo de 600px en móviles */
  height: 450px;
  border: 0;
}

#contact {
  background-color: rgba(209, 212, 216, 0.1);
}

.text-ubication {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  padding: 30px 20px; /* Ajuste de padding en mobile */
  text-align: center; /* Centrar texto en mobile */
}

.days {
  font-size: 5.5rem;
  font-weight: 400;
  color: #ffc564;
}

.text-ubication p strong {
  font-weight: 400;
}

/* Botón */
.btn-banner {
  text-decoration: none; /* Quita el subrayado */
  display: inline-block;
  padding: 0.75rem 2rem;
  border-radius: 30px;
  background-color: #ffa100;
  border: none;
  color: #ffffff;
  font-size: 1rem;
  text-align: center;
  white-space: nowrap;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-banner:hover {
  background-color: #e08900;
  transform: scale(1.05);
}

/* Estilos del contenido */
.padding {
  /* display: flex; */
  flex-wrap: wrap;
  /* padding: 40px 80px ; */
}

.padding-grey {
  background-color: rgba(209, 212, 216, 0.3);
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  align-items: center;
}

.text {
  /* flex: 1; */
  padding: 50px;
  max-width: 80%;
  /* position: absolute; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-sizing: content-box;
}

.text p strong {
  font-weight: 400;
}

.image {
  /* flex: 1; */
  display: flex;
  justify-content: flex-end; /* Mueve la imagen al lado derecho */
}

.image img {
  width: 95%;
  height: auto;
  display: block;
  margin: 0 auto;
  padding-bottom: 110px;
}

/* 📌 Introducción */
#pastry-intro {
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 0 20px;
  text-align: center;
  max-width: 100%;
  box-sizing: border-box;
  color: #333;
}

#pasteles h1,
#galletas h1,
#tartas h1,
#especiales h1,
#cupcakes h1,
#panques h1 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 400;
    color: #302e29; /* Color principal */
    margin-bottom: 20px;
    margin-top: 40px;
}

#pasteles h1::after,
#galletas h1::after,
#tartas h1::after,
#especiales h1::after,
#cupcakes h1::after,
#panques h1::after {
    content: "";
    display: block;
    width: 80px;
    height: 5px;
    background-color: #ff671d; /* Color de tu branding */
    margin: 10px auto;
    border-radius: 2px;
    margin-bottom: 60px;
}

/* #pastry-intro h2 {
  font-size: 2rem;
  margin-bottom: 15px;
  color: #6a5acd;
  font-weight: 400;
  letter-spacing: 1px;
  word-wrap: break-word;
} */

#pastry-intro p {
  line-height: 1.6;
  margin: 0 auto;
  max-width: 85%;
  color: #333;
  text-align: center;
  word-wrap: break-word;
}

.img-pastry {
  width: 75%; /* En mobile */
  padding-bottom: 20px;
}

/* 📌 Índice de navegación (Diseño Mobile First) */
.index-list {
    display: flex;
    flex-wrap: wrap; /* Permite que los botones se acomoden en varias líneas */
    justify-content: center; /* Centra los botones horizontalmente */
    gap: 8px; /* Reduce el espacio entre los botones para mejor ajuste en móviles */
    padding: 15px 10px; /* Ajusta el espacio interno */
    margin: 15px auto; /* Centra el bloque */
    max-width: 90%; /* Evita que ocupe toda la pantalla */
    box-sizing: border-box;
  }
  
  /* 📌 Botones del índice */
  .index-list a {
    display: inline-block;
    padding: 12px 18px; /* Ajuste óptimo para touch en móviles */
    font-size: 1rem; /* Tamaño adecuado para lectura */
    font-weight: 500; /* Hace que el texto sea más visible */
    color: #ffffff;
    background-color: #ffa100;
   /* Bordes más suaves */
    border-radius: 30px;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease;
    min-width: 140px; /* Ajuste para que sean más uniformes */
    white-space: nowrap; /* Evita que el texto se divida */
  }

.index-list a:hover {
  color: #ffffff;
  background-color: #e08900;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.sin-resultados {
  font-size: 2.1rem;
  color: #555;
  font-weight: 400;
  animation: fadeIn 0.3s ease;
  padding: 60px 50px;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

/* 📌 Contenedor de tarjetas */
.padding-cards {
  padding: 0 40px 0 40px;
  margin-bottom: 20px;
}

/* Configuración predeterminada: Automático basado en viewport */
.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  justify-items: center;
  align-items: start;
  max-width: 1250px;
  margin: 0 auto;
}

/* 📌 Estilos de las Cards */
.card {
  position: relative; /* Contenedor relativo para posicionar elementos absolutos */
  flex-basis: calc(100% - 0px); /* 1 Card por fila en Mobile */
  height: 400px;
  width: 400px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

/* 📌 Imagen dentro de la tarjeta */
.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1; /* La imagen está detrás del label */
}

/* 📌 Información de la tarjeta (Inicialmente oculta, aparece fuera al hacer hover) */
.card-info {
    position: absolute;
    bottom: -100%; /* Oculta la información fuera de la card */
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 15px;
    text-align: center;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    z-index: 2;
  }
  
  /* 📌 Mostrar la información debajo al pasar el mouse */
  .card:hover .card-info {
    bottom: 0px; /* Ajusta según el tamaño de la info */
    opacity: 1;
  }
  
  /* 📌 Título dentro de la información */
  .card-info h3 {
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 5px;
  }
  
  /* 📌 Texto dentro de la información */
  .card-info p {
    color: #ffffff;
    font-size: .95rem;
    font-weight: 300;
    margin: 0;
  }

  section.padding-cards {
    transition: opacity 0.3s ease;
  }
  section.padding-cards[style*="display: none"] {
    opacity: 0;
    height: 0;
    overflow: hidden;
    padding: 0;
    margin: 0;
  }  

  /* Nosotros */
  .padding-green {
    background-color: rgba(72, 181, 166, 0.2);
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    align-items: center;
  }

/* FAQ */
.accordion {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba(209, 212, 216);
  gap: 1rem;
  margin-bottom: 25px;
}

/* Cambiar color del texto del encabezado del acordeón */
.accordion-button {
  color: #503ab5;
  font-size: 1.3rem;
}

/* Quitar el color de fondo azul al hacer clic (estado activo) */
.accordion-button:not(.collapsed) {
  background-color: transparent;
  box-shadow: none;
  color: #503ab5;
}

.accordion-item {
  padding-bottom: 15px;
}

.accordion-body p, .accordion-body ul {
  font-size: 1.1rem;
  font-weight: 400;
}

.accordion-body img {
  display: block;
  margin: 0 auto;
}
/* FACTURACIÓN ELECTRÓNICA */

/* Fondo gris suave y espaciado */
.padding-grey-invoicing {
  background-color: rgba(209, 212, 216, 0.3);
}

.text-invoicing {
  padding: 60px 40px 0 40px;

}

.text-invoicing a.custom-link {
  color: #f87b4c;
  font-weight: 500;
  text-decoration: underline;
}

.text-invoicing a.custom-link:hover {
  color: #c9582b;
}

/* Formulario */
.form-invoicing form {
  background-color: #fff;
  padding: 50px;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.06);
}

/* inputs */
.form-invoicing .form {
  width: 100%;
  padding: 12px 16px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-family: 'Jost', sans-serif;
  font-size: 1rem;
}

.form-invoicing input[type="submit"] {
  background-color: #f87b4c;
  color: #fff;
  border: none;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-invoicing input[type="submit"]:hover {
  background-color: #e26a3a;
}

/* Aviso de Privacidad 
.invoicing {
  background-color: rgba(209, 212, 216, 0.2);
  height: 400px;
}

footer {
  background-color: rgba(255, 103, 29, 0.8);
  text-align: center;
  /* Centra horizontalmente el contenido del footer 
}

footer .privacy {
  display: flex;
  /* Activa el modelo de caja flexible 
  justify-content: center;
  /* Centra horizontalmente 
  align-items: center;
  /* Centra verticalmente 
  background-color: #504d48;
  color: #ffffff;
  padding: 10px;
}

footer .footer-text {
  margin-top: 1%;
  color: #ffffff;
}

footer a {
  font-size: 1.2rem;
  color: #ffffff;
}

.privacy p {
  font-size: 1rem;
  margin: 2%;
}

footer img {
  height: 80px;
}

.social-media {
  height: 17px;
  padding: 0 0.5rem;
  margin-bottom: 3px;
}

.div-social-media {
  padding: 4%;
} */

/* FOOTTER */
.bg-orange-strong {
  background-color: rgba(255, 103, 29, 0.8);
}

.footer-legal-full {
  width: 100%;
  background-color: #504d48;
  font-size: 0.95rem;
}

.footer-legal-full a:hover {
  opacity: 0.85;
}

.whatsapp-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  background-color: #25d366;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 2.5rem;
}

.whatsapp-btn:hover {
  transform: scale(1.1);
}

#btnScrollTop {
  position: fixed;
  bottom: 100px;
  right: 20px;
  display: none;
  background-color: #3216ad; /* Color vibrante */
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
  transition: opacity 0.3s, transform 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

#btnScrollTop:hover {
  background-color: #1c0a6b; /* Color más oscuro */
  transform: scale(1.1);
}

#btnScrollTop.show {
  display: block;
}


@media (min-width: 601px) and (max-width: 1024px) {
  /* Mantener el header fijo y con espacio */
  header {
    height: 70px; /* Un poco más alto para tablets */
    padding: 0.75rem 1.5rem;
  }

  /* Ajuste del logotipo para tablets */
  header img {
    width: 110px; /* Un poco más grande en tablet */
    margin-left: 20px;
  }

  /* Mantener el botón hamburguesa visible */
  .check-btn {
    display: block;
    font-size: 2.2rem; /* Un poco más grande en tablet */
  }

  /* Mantener el menú desplegable */
  nav ul {
    position: absolute;
    left: -100%;
    width: 100%;
    background: #302e29;
    padding: 20px;
    transition: all 0.5s ease;
    list-style: none;
  }

  /* Asegurar que el menú se muestra correctamente cuando se activa */
  #check:checked + label + ul {
    left: 0;
  }

  /* Ajuste del tamaño de los elementos del menú */
  ul li {
    margin: 15px 30px;
  }

  ul a {
    font-size: 1.4rem; /* Un poco más grande en tablet */
  }

  .banner {
    height: 400px;
  }

  .carousel-indicators {
    margin-bottom: 5rem;
  }

  .carousel-control-prev,
.carousel-control-next {
  top: 50%;
  width: 50px;
  height: 50px;
}

  /* Barra de búsqueda en tablet */
  form.form-search {
    position: relative;
    gap: 10px;
  }

  form input[type="search"] {
    font-size: 1.2rem;
    padding: 12px 20px;
  }

  .btn-search {
    width: 42px;
    height: 42px;
    margin-left: -54px; /* Ajustar mejor el botón de búsqueda */
  }

  .btn-search i {
    font-size: 1.3rem;
  }

  .text {
    padding: 110px;
  }

  .image {
    justify-content: center;
  }

  .image img {
    width: 75%;
    padding-right: 0;
  }

  .custom-flex-spacing {
    margin: 10px 0 10px 40px;
    padding-right: 0;
  }

  /* Índice */
  .index-list {
    gap: 12px; /* Espacio más amplio entre los botones */
    /* max-width: 70%; */
  }

  .index-list a {
    padding: 14px 20px;
    font-size: 1.1rem;
    min-width: 160px;
  }
  
}

@media (min-width: 1024px) {
  /* Oculta el botón hamburguesa en desktop */
  .check-btn {
    display: none;
  }

  /* Ajuste del header en desktop */
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem; /* Más espacio en los lados */
    height: 80px; /* Aumenta la altura */
    background-color: #ffffff;
    transition: background-color 0.5s ease;
  }

  /* Ajuste del logo */
  header img {
    width: 130px; /* Más grande en desktop */
    height: auto;
    object-fit: contain; /* Asegura que no se distorsione */
  }

  /* Alineación del menú */
  header nav {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  /* Asegurar que los elementos del menú están alineados horizontalmente */
  header nav ul {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    position: static;
    background: transparent;
    transition: all 0.5s ease;
    margin: 0;
  }

  ul a {
    color: #302e29;
  }

  /* Ajuste del input de búsqueda */
  .form-search {
    width: 250px; /* Más ancho en desktop */
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .form-search input[type="search"] {
    padding: 8px 15px;
    font-size: 1rem;
    border: 2px solid #ffa100;
    border-radius: 30px;
    width: 100%;
    transition: border-color 0.3s ease;
  }

  /* Ajuste del botón de búsqueda */
  .btn-search {
    width: 34px;
    height: 34px;
    background-color: #ffa100;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-left: -48px;
  }

  .btn-search:hover {
    background-color: #e08900;
    transform: scale(1.05);
  }

  .btn-search i {
    font-size: 1.2rem;
    color: #ffffff;
  }

  p {
    font-size: 1.2rem; /* 19.2px */
    line-height: 1.6; /* Mayor legibilidad */
    color: #333; /* Un tono más oscuro para mejor contraste */
  }

  .banner {
    height: 600px;
  }

  .carousel-indicators {
    margin-bottom: 5rem;
  }

  .carousel-control-prev,
.carousel-control-next {
  top: 50%;
  width: 50px;
  height: 50px;
}

  .custom-flex-spacing  {
    padding-right: 0;
    padding-left: 60px;
  }

  #pastry-intro p {
    max-width: 65%;
  }

  /* CARDS */
  .cards-container {
    gap: 50px;
    /* grid-template-columns: repeat(3, 1fr); */
    /* 3 columnas */
  }

  .img-pastry {
    width: 50%; /* En mobile, será más grande */
  }

  .text {
    padding: 110px;
    max-width: 45%
  }

  .image img {
    padding-right: 100px;
  }

  /* Índice */
  .index-list {
    /* max-width: 70%;  */
    /* Reduce el ancho máximo en pantallas grandes */
    gap: 15px;
  }

  .index-list a {
    font-size: 1.2rem;
    padding: 15px 22px;
    min-width: 180px;
  }

  #pastry-intro {
    margin-top: 120px;
  }

  /* Ubication */
  .days {
    font-size: 5.5rem;
  }

  .ubication {
    display: flex;
    flex-direction: row; /* En desktop los elementos estarán en línea */
    border-radius: 15px;
    align-items: center;
    padding-left: 100px;
  }

  .ubication iframe {
    max-width: 700px;
  }

  .text-ubication {
    max-width: 65%;
    padding: 50px 0 50px 100px;
    text-align: left; /* Volver a alinear el texto a la izquierda en desktop */
  }

  .padding-grey {
    display: flex;
  }
  
  /* Pastry */
  #pasteles h1, #galletas h1,
  #tartas h1,
  #especiales h1,
  #cupcakes h1,
  #panques h1 {
    margin-top: 110px;
  }

  /* 📌 Contenedor de tarjetas */
.padding-cards { 
  margin-bottom: 150px;
}

  /* Nosotros */
  .padding-green {
    display: flex;
  }

  /* FACTURACIÓN ELECTRÓNICA */

  /* Fondo gris suave y espaciado */
  .text-invoicing {
    padding: 140px 40px 60px;
  }
  /* Formulario */
  .form-invoicing form {
    padding: 50px;
    margin-top: 100px;
  }
}
